#crawler-status
{
    height: 170px;
    overflow: auto;
}

.panel-body
{
    max-height: 300px;
    overflow-y: auto;
}

.js-link
{
    color: blue;
    cursor: pointer;
}

.pieData
{
    display: none;
}

.canvas-div
{
    width: 320px;
    height: 250px;
}

.canvas-div span
{
    display: block;
}